html, body {
    position: relative;
}

body {
    min-height: 100vh;
}

.footer {
    margin-top: 100px;
    background-color: #E4DBF7;
    height: 250px;
    text-align: center;
    width: auto;
    background-color: #EEEEEE;
    padding: 0 30px;
}

.links {
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}