.checkbox {
    transform: scale(1.5);
    cursor: pointer;
}

.link {
    color: black;
    text-decoration: none !important;
    transition: transform .8s;
}

.singleTaskLink {
    color: black;
    text-decoration: none !important;
}

.selected {
    color: #FFC107;
    cursor: pointer;
}

.nonSelected {
    color: black;
    cursor: pointer;
}

.singleTaskLink:hover {
    color: black;
}

.link:hover {
    color: black;
    transform: scale(1.03);
}